

/* Remove arrows from number inputs */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.container {
    padding-top: 1%
}

#calculate {
    max-width: min-content;
    padding-right: 12px;
}

select:invalid {
    color: grey;
}

option {
    color: black;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5;
}

.tooltip {
    display: block;
    position: absolute;
    background-color: white;
    border: solid 1px #eee;
    border-radius: 5px;
    padding: 5px;
    pointer-events: none;
}

.grid-line {
    stroke: grey;
    stroke-width: 0.5;
    opacity: 0;
    pointer-events: none;
}

path {
    pointer-events: none;
}