

/* Remove arrows from number inputs */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.container {
    padding-top: 1%
}

#calculate {
    max-width: min-content;
    padding-right: 12px;
}

select:invalid {
    color: grey;
}

option {
    color: black;
}

.col-form-label {
    text-align: center;
}

.line {
    fill: none;
}

#totalline {
    stroke: red;
}

#savedline {
    stroke: blue;
}

#totalebevolkingline {
    stroke: cyan;
}

#pensioenline {
    stroke: darkblue;
}

.tooltip {
    display: block;
    position: absolute;
    background-color: white;
    border: solid 1px #eee;
    border-radius: 5px;
    padding: 5px;
    pointer-events: none;
}

.grid-line {
    stroke: grey;
    stroke-width: 0.5;
    opacity: 0;
    pointer-events: none;
}

.prognose-rect {
    fill: white;
    pointer-events: none;
}

.prognose-line {
    stroke: black;
    stroke-dasharray: 4;
    stroke-width: 1;
    opacity: 1;
    pointer-events: none;
}

path {
    pointer-events: none;
}

.box {
    position: relative;
    margin-left: 20px;
}
.box:before{
    position: absolute;
    left: -20px;
    top: 3px;
    content: "";
    height:15px;
    width:15px;
    margin-bottom:15px;
    border:1px solid black;
}
.box.box-0-20:before {
    background-color: hsl(120, 73.4%, 74.9%);
}
.box.box-20-65:before {
    background-color: hsl(120, 60.8%, 50%);
}
.box.box-65-80:before {
    background-color: hsl(10, 100%, 65%);
}
.box.box-80plus:before{
    background-color: hsl(0, 100%, 50%);
}
.box.box-0-20p:before {
    background-color: hsl(120, 73.4%, 85%);
}
.box.box-20-65p:before {
    background-color: hsl(120, 60.8%, 60%);
}
.box.box-65-80p:before {
    background-color: hsl(10, 100%, 75%);
}
.box.box-80plusp:before{
    background-color: hsl(0, 100%, 65%);
}
.box.box-totaal:before {
    background-color: cyan;
}
.box.box-gepensioneerden:before {
    background-color: blue;
}
.box.box-total:before {
    background-color: red;
}
.box.box-saved:before {
    background-color: blue;
}